# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# directories
build/
bin/
log/
tmp/

# --- IDE specific ---
# Visual Studio
*.vcxproj*
*.sln
.vs/

# VS Code
.vscode/
*.code-workspace

# CLion / JetBrains
.idea/
*.iml

# Xcode
*.xcworkspace
*.xcuserdatad
*.xcodeproj/project.xcworkspace/

# CMake cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Editor temp files
*~
*.swp
# testing / profiling
*.gcda
*.gcno
*.prof
